:host {
    display: inline-block;
}

.normal {
    &.primary {
        --border-color: transparent;
        --background-color: rgb(0 0 0 / 84%);
        --background-color-hover: rgb(0 0 0 / 90%);
        --background-color-active: #000;
        --color: #FFF;
    }

    &.secondary {
        --border-color: rgb(0 0 0 / 84%);
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
    }

    &.tertiary {
        --border-color: rgb(0 0 0 / 29%);
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
    }

    &.ghost {
        --border-color: transparent;
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
    }
}

.danger {
    &.primary {
        --border-color: transparent;
        --background-color: #DB351F;
        --background-color-hover: #C92812;
        --background-color-active: #B02412;
        --color: #fff;
    }

    &.secondary {
        --border-color: #DB351F;
        --background-color: transparent;
        --background-color-hover: #FFF4F2;
        --background-color-active: #FFEDEB;
        --color: #C92812;
    }

    &.tertiary {
        --border-color: #DB351F;
        --background-color: transparent;
        --background-color-hover: #FFF4F2;
        --background-color-active: #FFEDEB;
        --color: #C92812;
    }

    &.ghost {
        --border-color: transparent;
        --background-color: transparent;
        --background-color-hover: #FFF4F2;
        --background-color-active: #FFEDEB;
        --color: #C92812;
    }
}

.primary {
    --border-color-disabled: transparent;
    --background-color-disabled: rgb(0 0 0 / 5%);
    --color-disabled: rgb(0 0 0 / 35%);
}

:is(.secondary, .tertiary) {
    --border-color-disabled: rgb(0 0 0 / 10%);
    --background-color-disabled: transparent;
    --color-disabled: rgb(0 0 0 / 35%);
}

.ghost {
    --border-color-disabled: transparent;
    --background-color-disabled: transparent;
    --color-disabled: rgb(0 0 0 / 35%);
}

.base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    flex-basis: 100%;
    padding-block: 2px;
    border: 1px solid var(--border-color);
    border-radius: 9999px;
    background-color: var(--background-color);
    color: var(--color);
    position: relative;
    cursor: pointer;

    &:focus-visible {
        box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #191919;
    }

    &:hover {
        background-color: var(--background-color-hover);
    }

    &:active {
        background-color: var(--background-color-active);
    }

    &:disabled {
        border-color: var(--border-color-disabled);
        background-color: var(--background-color-disabled);
        color: var(--color-disabled);
        cursor: not-allowed;

        &:hover {
            border-color: var(--border-color-disabled);
            background-color: var(--background-color-disabled);
        }

        &.loading {
            color: rgb(0 0 0 / 84%);
        }
    }
}

.medium {
    min-height: 32px;
    padding-inline: 12px;
    font-size: 12px;
}

.large {
    min-height: 40px;
    padding-inline: 16px;
    font-size: 14px;
}

.x-large {
    min-height: 48px;
    padding-inline: 16px;
    font-size: 16px;
}

.icon {
    fill: currentcolor;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;

    &:is(.primary *, .secondary *) {
        font-weight: var(--font-weight-bold);
    }
}
