:host {
    display: inline-block;
}

.base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    flex-basis: 100%;
    padding-block :2px;
    border: 1px solid transparent;
    border-radius: 9999px;
    position: relative;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }

    &:focus-visible {
        box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #191919;
    }
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.medium {
    --loading-size: 16px;

    min-height: 32px;
    padding-inline: 12px;
    font-size: 12px;
}

.large {
    --loading-size: 19px;

    min-height: 40px;
    padding-inline: 16px;
    font-size: 14px;
}

.x-large {
    --loading-size: 22px;

    min-height: 48px;
    padding-inline: 16px;
    font-size: 16px;
}

.icon {
    fill: currentcolor;
}

.loading {
    &::before {
        content: "";
        display: block;
        border: 2px solid #282828;
        border-bottom-color: #EDEDED;
        border-radius: 50%;
        animation: 1s linear infinite loading;
        transform-origin: center center;
        width: var(--loading-size);
        height: var(--loading-size);
        z-index: 2;
        position: absolute;
        left: calc(50% - var(--loading-size) / 2);
        top: calc(50% - var(--loading-size) / 2);
    }

    .text {
        visibility: hidden;
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.normal.primary {
    background-color: rgb(0 0 0 / 84%);
    color: #fff;

    &:hover {
        background-color: rgb(0 0 0 / 90%);
    }

    &:active {
        background-color: #000;
    }
}

.normal.secondary {
    border-color: rgb(0 0 0 / 84%);
    color: rgb(0 0 0 / 84%);

    &:hover {
        background-color: rgb(0 0 0 / 4%);
    }

    &:active {
        background-color: rgb(0 0 0 / 7%);
    }
}

.normal.tertiary {
    border-color: rgb(0 0 0 / 29%);
    color: rgb(0 0 0 / 84%);

    &:hover {
        background-color: rgb(0 0 0 / 4%);
    }

    &:active {
        background-color: rgb(0 0 0 / 7%);
    }
}

.danger.primary {
    background-color: #DB351F;
    color: #fff;

    &:hover {
        background-color: #C92812;
    }

    &:active {
        background-color: #B02412;
    }
}

.danger.secondary {
    border-color: #DB351F;
    color: #C92812;

    &:hover {
        background-color: #FFF4F2;
    }

    &:active {
        background-color: #FFEDEB;
    }
}

.danger.tertiary {
    border-color: #DB351F;
    color: #C92812;

    &:hover {
        background-color: #FFF4F2;
    }

    &:active {
        background-color: #FFEDEB;
    }
}

:is(.normal, .danger).secondary {
    .text {
        font-weight: var(--font-weight-bold);
    }
}

:is(.normal, .danger).primary  {
    .text {
        font-weight: var(--font-weight-bold);
    }

    &:disabled {
        background-color: rgb(0 0 0 / 5%);
        border-color: transparent;
        color: rgb(0 0 0 / 35%);

        &:hover {
            background-color: rgb(0 0 0 / 5%);
            border-color: transparent;
        }
    }
}

:is(.normal, .danger):is(.secondary, .tertiary) {
    &:disabled {
        background-color: transparent;
        border-color: rgb(0 0 0 / 10%);
        color: rgb(0 0 0 / 35%);

        &:hover {
            background-color: transparent;
            border-color: rgb(0 0 0 / 10%);
        }
    }
}
