:host {
    display: inline-block;
}

.mode-normal {
    &.primary {
        --border-color: transparent;
        --background-color: rgb(0 0 0 / 84%);
        --background-color-hover: rgb(0 0 0 / 90%);
        --background-color-active: #000;
        --color: #FFF;
    }

    &.secondary {
        --border-color: rgb(0 0 0 / 84%);
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
    }

    &.tertiary {
        --border-color: rgb(0 0 0 / 29%);
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
    }

    &.ghost {
        --border-color: transparent;
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
    }
}

.mode-danger {
    &.primary {
        --border-color: transparent;
        --background-color: #DB351F;
        --background-color-hover: #C92812;
        --background-color-active: #B02412;
        --color: #fff;
    }

    &.secondary {
        --border-color: #DB351F;
        --background-color: transparent;
        --background-color-hover: #FFF4F2;
        --background-color-active: #FFEDEB;
        --color: #C92812;
    }

    &.tertiary {
        --border-color: #DB351F;
        --background-color: transparent;
        --background-color-hover: #FFF4F2;
        --background-color-active: #FFEDEB;
        --color: #C92812;
    }

    &.ghost {
        --border-color: transparent;
        --background-color: transparent;
        --background-color-hover: #FFF4F2;
        --background-color-active: #FFEDEB;
        --color: #C92812;
    }
}

:is(.mode-normal, .mode-danger) {
    .primary {
        --border-color-disabled: transparent;
        --background-color-disabled: rgb(0 0 0 / 5%);
        --color-disabled: rgb(0 0 0 / 35%);
    }
    
    :is(.secondary, .tertiary) {
        --border-color-disabled: rgb(0 0 0 / 10%);
        --background-color-disabled: transparent;
        --color-disabled: rgb(0 0 0 / 35%);
    }
    
    .ghost {
        --border-color-disabled: transparent;
        --background-color-disabled: transparent;
        --color-disabled: rgb(0 0 0 / 35%);
    }
}

.mode-ai {
    &.primary {
        --border-color: transparent;
        --background-color: #FFF;
        --background-color-hover: #FFF;
        --background-color-active: #FFF;
        --color: rgb(0 0 0 / 84%);
        --border-color-disabled: rgb(0 0 0 / 7%);
        --background-color-disabled: transparent;
        --color-disabled: rgb(0 0 0 / 35%);
        --conic-gradient-ai: conic-gradient(
            from 0deg at 50% 50%,
            #2A2AF7 0deg,
            #2A2AF7 72deg,
            #47D4FF 144deg,
            #FF2ED5 216deg,
            #F72A48 288deg,
            #2A2AF7 360deg
        );
        
        border: none;
        background: var(--background-color);
        transition: all 300ms ease-in-out;
    }

    &.secondary {
        --border-color: rgb(0 0 0 / 84%);
        --background-color: transparent;
        --background-color-hover: rgb(0 0 0 / 4%);
        --background-color-active: rgb(0 0 0 / 7%);
        --color: rgb(0 0 0 / 84%);
        --border-color-disabled: rgb(0 0 0 / 7%);
        --background-color-disabled: transparent;
        --color-disabled: rgb(0 0 0 / 35%);
    }
}



.base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    flex-basis: 100%;
    padding-block: 2px;
    border: 1px solid var(--border-color);
    border-radius: 9999px;
    background-color: var(--background-color);
    color: var(--color);
    position: relative;
    cursor: pointer;

    &:focus-visible {
        box-shadow: 0 0 0 2px #FFF, 0 0 0 4px #191919;
    }

    &:hover {
        background-color: var(--background-color-hover);
    }

    &:active {
        background-color: var(--background-color-active);
    }

    &:disabled {
        border-color: var(--border-color-disabled);
        background-color: var(--background-color-disabled);
        color: var(--color-disabled);
        cursor: not-allowed;

        &:hover {
            border-color: var(--border-color-disabled);
            background-color: var(--background-color-disabled);
        }

        &.loading {
            color: rgb(0 0 0 / 84%);
        }
    }
}

.medium {
    min-height: 32px;
    padding-inline: 12px;
    font-size: 12px;
}

.large {
    min-height: 40px;
    padding-inline: 16px;
    font-size: 14px;
}

.x-large {
    min-height: 48px;
    padding-inline: 16px;
    font-size: 16px;
}

.icon {
    fill: currentcolor;
}

.text {
    line-height: 1.5;
    letter-spacing: 0.02em;

    &:is(.primary *, .secondary *) {
        font-weight: var(--font-weight-bold);
    }
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 180deg;
    }
}
  
.mode-ai.primary.base::before {
    --angle: 0deg;
  
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid transparent;
    border-radius: 9999px;
    background: linear-gradient(white, white) content-box content-box, conic-gradient(from var(--angle) at 50% 50%, #2A2AF7 5%, #2A2AF7 22%, #47D4FF 30%, #FF2ED5 73%, #F72A48 80%, #F72A48 84%, #2A2AF7 100%) border-box border-box;
    transition: --angle 1s ease-in-out;

    /* stylelint-disable declaration-property-value-no-unknown */
    mask-image:
      linear-gradient(white 0 0),
      linear-gradient(white 0 0);
    /* stylelint-enable declaration-property-value-no-unknown */
    mask-clip: content-box, border-box;
    mask-composite: exclude;
  }
  
  .mode-ai.primary.base:hover:not(:disabled)::before {
    --angle: 180deg;
  }
  
  .mode-ai.primary.base:active:not(:disabled)::before {
    --angle: 0deg;

    border-width: 2px;
  }
  