:host {
	--ui-semantic-text-placeholder: #0000008a;
	--ui-semantic-text-disabled: #00000059;
	--ui-semantic-text-error: #c92812;
	--ui-semantic-text-inverse: #fff;
	--ui-semantic-border-semi-strong: #b6b6b6;
	--ui-semantic-border-semi-strong-hover: #0000008f;
	--ui-semantic-border-error: #db351f;
	--border-disabled: #e5e5e5;
}



	/*
   * https://www.figma.com/design/YCNyynKZCTO8JbYdkyQSCU/UB%E3%82%A2%E3%82%AB%E3%82%A6%E3%83%B3%E3%83%88%E3%83%AD%E3%82%B0%E3%82%A4%E3%83%B3?node-id=269-1152&t=KR1IcnXF9Tkyyzju-0
   */


