:host {
    .container {
        display: flex;
        gap: 2px;
        align-items: center;
        padding-top: 8px;
        color: #c92812;
        >.text {
            font-weight: var(--font-weight-normal);
            font-size: 14px;
        }

        .icon {
            width: 21px;
            height: 21px;
        }

        &.none {
            display: none;
        }

    }

}