.checkmark {
  flex-grow: 0;
  flex-shrink: 0;
  display: inline-flex;
  padding-block: 4px;
  padding-inline: 4px;
  cursor: pointer;
}

.checkmark::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff 50% 50% no-repeat;
  border: 1px solid rgb(0 0 0 / 29%);
  border-radius: 2px;
}

.checkmark:has(:is(.input:checked, .input:indeterminate))::before {
  background-color: #2f73d4;
  border-color: #2f73d4;
}

.checkmark:has(.input:checked)::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIuNDE0MSA2LjIwNzAzTDYuNzA3MDMgMTEuOTE0MUwzIDguMjA3MDNMNC40MTQwNiA2Ljc5Mjk3TDYuNzA3MDMgOS4wODU5NEwxMSA0Ljc5Mjk3TDEyLjQxNDEgNi4yMDcwM1oiIGZpbGw9IndoaXRlIi8+PC9zdmc+");
}

.checkmark:has(.input:indeterminate)::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgN1Y5SDRWN0gxMloiIGZpbGw9IndoaXRlIi8+PC9zdmc+");
}

.checkmark:has(.input:disabled) {
  cursor: not-allowed;
}

.checkmark:has(:is(.input:disabled))::before {
  background-color: #e5e5e5;
  border-color: rgb(0 0 0 / 5%);
}

.checkmark .input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
