:host {
    display: inline-block;
}

.base {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.84);
    font-weight: var(--font-weight-bold);
    position: relative;
}

.inactive {
    filter: grayscale(100%);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: rgba(0, 0, 0, 0.84);
}

sp-icon {
    fill: currentcolor;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-small {
    width: 24px;
    height: 24px;

    .initials {
        font-size: 10px;
    }

    sp-icon {
        font-size: 15.625px; /* 20px / 1.28 */
    }
}

.size-medium {
    width: 32px;
    height: 32px;

    .initials {
        font-size: 12px;
    }

    sp-icon {
        font-size: 18.75px; /* 24px / 1.28 */
    }
}

.size-large {
    width: 40px;
    height: 40px;

    .initials {
        font-size: 14px;
    }

    sp-icon {
        font-size: 25px; /* 32px / 1.28 */
    }
}

.size-x-large {
    width: 80px;
    height: 80px;

    .initials {
        font-size: 32px;
    }

    sp-icon {
        font-size: 50px; /* 64px / 1.28 */
    }
}

.size-2x-large {
    width: 96px;
    height: 96px;

    .initials {
        font-size: 40px;
    }

    sp-icon {
        font-size: 62.5px; /* 80px / 1.28 */
    }
}

/* カラーバリエーション */
.color-1 {
    background-color: #910091;
    color: #fff;
}

.color-2 {
    background-color: #3E31D5;
    color: #fff;
}

.color-3 {
    background-color: #214DDE;
    color: #fff;
}

.color-4 {
    background-color: #0D8282;
    color: #fff;
}

.color-5 {
    background-color: #008744;
    color: #fff;
}

.color-6 {
    background-color: #AE6022;
    color: #fff;
}

.color-7 {
    background-color: #D30030;
    color: #fff;
}
[class*="color-"] {
    &.inactive {
        background-color: #EDEDED;
        color: rgba(0, 0, 0, 0.35);
    }
}